<form [formGroup]="ourForm" (submit)="onSubmit(ourForm.value)" >
    <br>            
    <div class="inputs">
        <h1>YOUR ELECTRONICS</h1>
        
        <div class="input">
            <label for="title">Title</label>&nbsp;
            <input type="text" id='title' formControlName="title">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>

        <div class="input">
            <label for="model">Model</label>&nbsp;
            <input type="number" id='model' formControlName="model">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div> 
    </div>
    
    <div class="general-inputs">
        <br>
        <h1>TELL US MORE</h1>
        <div class="input">
            <label for="sellerid">Seller ID</label>&nbsp;
            <input type="text" id='sellerid' formControlName="sellerid">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
    
        <div class="input">
            <label for="description">Description</label>&nbsp;
            <textarea type="text" id='description' formControlName="description"></textarea>
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
        <div class="input">
            <label for="price">Price  $</label>&nbsp;
            <input type="number" id='price' formControlName="price">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
    
        <div class="input">
            <img class="placeholder" [src] = "imgSrc" width = "250 px" height = "150px" (click)="fileUploader.click()" > <br>
             <label for="picture">Picture</label>&nbsp;
            <input type="file" #fileUploader accept="image/*" formControlName="picture" id='picture' (change)="showPreview($event)">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.picture.errors?.required">This field is required</div>
        </div>     
    
        <div class="input">
            <label for="shipping">Shipping</label>&nbsp;
            <input type="text" id='shipping' formControlName="shipping">&nbsp;
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>   
    </div> 
      <input type="submit" value="Submit">
</form>