.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

}

.banner .browse-keyword{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    height:50px;
    white-space: nowrap;
}

.banner .browse-category{
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.banner h1{
    font-size: 40px;
}


input[type=text] {
    padding:20px 15px; 
    margin-left: 10px;
    background-color:#e7e3e3; 
    font-size: 18px;
    color: rgb(0, 0, 0);
    border:0 none;
    cursor:zoom-in;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    outline:none;
}

.containers{
    display: flex;
    flex-direction: row;
   /* width: 1200px;*/

}


.container{
   /* width: 100px;
    height: 20px;*/
    box-sizing: border-box;
    cursor: grab;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px 10px;
    background-color: #e7e3e3;
  }

p{
    font-size: 30px;
}

.searchLine{
    margin-left: 30%;
}

.items{
    display: flex;
}

.oneItem{
    flex:33.3%;
}


.colorBox{
    position: relative;
    width: 100%;
}

a{
    position: absolute;
    top:80%;
    left: 2%;
    width: 100%;
    font-size: 60px;
}

