
<div class="banner">
	<div class="browse-keyword">
	    <h1>Search By Keyword</h1>
	    <input type="text" id='keyword'>
	</div> 

	<br><br>

	<div class="browse-category">
	    <h1>Browse by Category</h1>
	    <div class="containers">

	        <div class="container" (click) ="router.navigate(['./br-books']);">
	            <p>Books</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-clothing']);">
	            <p>Clothing</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-furniture']);">
	            <p>Furniture</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-electronics']);">
	            <p>Electronics</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-sportsgear']);">
	            <p>Sport Gears</p>
	        </div>
	    </div>
	</div>
</div>

<!-- ======= -->
<p>br-furniture works!(temp|click to display item)</p>

<h2>Temp listing of 'Furniture':</h2>
<ul class="items">
  <li *ngFor = 'let item of items'>
   <a routerLink= "/br-item/{{item.itemID}}">
   <span> {{item.itemid}}</span> {{item.description}}
   </a>
  </li>
</ul>
<!-- >>>>>>> main -->






