
<div class="banner">
	<div class="browse-keyword">
	    <h1>Search By Keyword</h1>
	    <input type="text" id='keyword'>
	</div> 

	<br><br>

	<div class="browse-category">
	    <h1>Browse by Category</h1>
	    <div class="containers">

	        <div class="container" (click) ="router.navigate(['./br-books']);">
	            <p>Books</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-clothing']);">
	            <p>Clothing</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-furniture']);">
	            <p>Furniture</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-electronics']);">
	            <p>Electronics</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-sportsgear']);">
	            <p>Sport Gears</p>
	        </div>
	    </div>
	</div>
</div>


<div class="searchLine">
	<p>These are our current selections based on your search</p>	
</div>
   
<br>
<div class="items">
	<div class="oneItem" *ngFor = 'let item of items'>
		<div class="colorBox" >
			<img src="../../assets/images/ImageBackground.JPG" width="200px">
				<a routerLink= "/br-item/{{item.itemID}}">
   				<span>{{item.itemID}}</span> {{item.description}}
   				</a>	
		</div>
	</div>
</div>

<!-- >>>>>>> main -->







