<!-- <<<<<<< Categories-general-layout -->
<div class="banner">
	<div class="browse-keyword">
	    <h1>Search By Keyword: </h1>
			<app-searchbar></app-searchbar>
	</div> 


	<div class="browse-category">
	    <h1>Browse by Category: </h1>
	    <div class="containers">

	        <div class="container" (click) ="router.navigate(['./br-books']);">
	            <p>Books</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-clothing']);">
	            <p>Clothing</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-furniture']);">
	            <p>Furniture</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-electronics']);">
	            <p>Electronics</p>
	        </div>

	        <div class="container" (click) ="router.navigate(['./br-sportsgear']);">
	            <p>Sport Gears</p>
	        </div>
	    </div>
	</div>
</div>


<br>
   
<div class="searchLine">
	<p>These are our current selections based on your search</p>	
</div>
   
<br>
<div class="items">
	<div class="oneItem" *ngFor = 'let item of items'>
		<div routerLink= "/br-item/{{item.itemID}}"class="colorBox" style="cursor: grab">
			<div class="img"> 
				<img *ngIf='item.picture != ""' src="{{item.picture}}" height = "250px" width="250px">
					<div class="iteminfo">
						<span><strong>{{item.title}}</strong></span> <br> $ {{item.price}}
					</div>
			</div>
		</div>
	</div>
</div>

