<div *ngIf="Item">
	<!-- Create a 'display' for each category arranged as necessary -->
	<!-- ## NOTE: Pictures are not implemented yet, but please leave room in final design for them. ## -->
	<div *ngIf='Item.category === "books"'> 
	<div class="itemDisplay" *ngIf='Item.category === "Books"'> 
  		<p>Description: {{Item.description}}</p>
		<p>Price: {{Item.price}}</p>
		<p>Seller ID: {{Item.sellerid}}</p>
		<p>Category: {{Item.category}}</p>
		<p>Shipping: {{Item.shipping}}</p>
		<p>Book Title: {{Item.booktitle}}</p>
		<p>Edition: {{Item.edition}}</p>
		<p>Course: {{Item.course}}</p> 
		<div class="column">
			<div class="row">
				<a href="mailto:gonelli2113@gmail.com"><button>Contact Seller</button></a>
			</div>
			<div class="row">
				<button>Add to Cart</button>
			</div>
		</div>
	</div>
	
	<div *ngIf='Item.category === "sportsgear"'>
	<a href="mailto:gonelli2113@gmail.com">
	<div class="itemDisplay" *ngIf='Item.category === "Sport Gears"'>
		<p>Description: {{Item.description}}</p>
		<p>Price: {{Item.price}}</p>
		<p>Seller ID: {{Item.sellerid}}</p>
		<p>Category: {{Item.category}}</p>
		<p>Shipping: {{Item.shipping}}</p>
		<p>Type: {{Item.type}}</p>
		<p>Weight: {{Item.weight}}</p>
		<div class="column">
			<div class="row">
				<a href="mailto:gonelli2113@gmail.com"><button>Contact Seller</button></a>
			</div>
			<div class="row">
				<button>Add to Cart</button>
			</div>
		</div>
	</div>
	

	<div *ngIf='Item.category === "electronics"'>

	<div class="itemDisplay" *ngIf='Item.category === "Electronics"'>

		<p>Description: {{Item.description}}</p>
		<p>Price: {{Item.price}}</p>
		<p>Seller ID: {{Item.sellerid}}</p>
		<p>Category: {{Item.category}}</p>
		<p>Shipping: {{Item.shipping}}</p>
		<p>Type: {{Item.type}}</p>
		<p>Model: {{Item.model}}</p>
		<div class="column">
			<div class="row">
				<a href="mailto:gonelli2113@gmail.com"><button>Contact Seller</button></a>
			</div>
			<div class="row">
				<button>Add to Cart</button>
			</div>
		</div>
	</div>
	

	<div *ngIf='Item.category === "furniture"'>

	<div class="itemDisplay" *ngIf='Item.category === "Furniture"'>

		<p>Description: {{Item.description}}</p>
		<p>Price: {{Item.price}}</p>
		<p>Seller ID: {{Item.sellerid}}</p>
		<p>Category: {{Item.category}}</p>
		<p>Shipping: {{Item.shipping}}</p>
		<p>Color: {{Item.color}}</p>
		<p>Weight: {{Item.weight}}</p>
		<p>Dimensions: {{Item.dimension}}</p>
		<div class="column">
			<div class="row">
				<a href="mailto:gonelli2113@gmail.com"><button>Contact Seller</button></a>
			</div>
			<div class="row">
				<button>Add to Cart</button>
			</div>
		</div>
	</div>

   
	<div *ngIf='Item.category === "clothing"'>
   
	<div class="itemDisplay" *ngIf='Item.category === "Clothing"'>

		<p>Description: {{Item.description}}</p>
		<p>Price: {{Item.price}}</p>
		<p>Seller ID: {{Item.sellerid}}</p>
		<p>Category: {{Item.category}}</p>
		<p>Shipping: {{Item.shipping}}</p>
		<p>Type: {{Item.type}}</p>
		<p>Color: {{Item.color}}</p>
		<p>Size: {{Item.size}}</p>
		<div class="column">
			<div class="row">
				<a href="mailto:gonelli2113@gmail.com"><button>Contact Seller</button></a>
			</div>
			<div class="row">
				<button>Add to Cart</button>
			</div>
		</div>
	</div>
