.itemDisplay{
	font-size: 70px;
	background-color: #e7e3e3;
	margin-top: 10%;
	border-style: solid;
	border-color: darkred;
}

.column{
	display: flex;
}

.row{
	flex:30%;
	margin-left: 10%;
}

button{
	color:white;
	background-color: darkred;
	width: 300px;
	height: 90px;
	font-size: 40px;
	margin-bottom: 10%;
}

p{
	padding: 50px 50px;
}