
<!-- tab for each category -->
<br>
<br>

<div class="form">
    <p>this is for book categorythis is for book categorythis is for book categorythis is for</p>
    
    <div class="books-inputs">
        <h1>Tell us about your book!</h1>
        <div class="input">
            <label for="book-title">Book Title</label>&nbsp;
            <input type="text" id='book-title'>
        </div>

        <div class="input">
            <label for="description">Description</label>&nbsp;
            <textarea type="text" id='description'></textarea>
        </div>

        <div class="input">
            <label for="edition">Edition</label>&nbsp;
            <input type="number" id='edition'>
        </div>

        <div class="input">
            <label for="course">Course Number</label>&nbsp;
            <input type="text" id='edition'>
        </div>

        <div class="input">
            <label for="price">Price  $</label>&nbsp;
            <input type="number" id='price'>
        </div>

    <div class="general-inputs">
        <br>
        <h1>Tell us little more</h1>
        <div class="input">
            <label for="book-title">Seller ID</label>&nbsp;
            <input type="text" id='seller-id'>
        </div>

        <div class="input">
            <label for="category" >Item Category</label>&nbsp;
            <input readonly type="text" id='category' value="Books" placeholder="books">
        </div>

        <div class="input">
            <label for="picture">Picture</label>&nbsp;
            <input type="file" id='picture'>
        </div>   

        <div class="input">
            <label for="shipping">Shipping Allowed</label>&nbsp;
            <input type="number" id='shipping' maxlength="1">&nbsp; Enter 1 for Allowed, 2 for Not Allowed
        </div>   
    </div>
    
    <input type="submit" value="Submit">
</div>