
<mat-tab-group animationDuration="1ms">

    <mat-tab label="Books">
        <app-add-books></app-add-books>
    </mat-tab>

    <mat-tab label="Clothing">
        <app-add-clothing></app-add-clothing>
    </mat-tab>

    <mat-tab label="Furniture">
        <app-add-furniture></app-add-furniture>
    </mat-tab>

    <mat-tab label="Electronics">
        <app-add-electronics></app-add-electronics>
    </mat-tab>

    <mat-tab label="Sports Gear">
        <app-add-sportsgear></app-add-sportsgear>
    </mat-tab>
</mat-tab-group>

  
        <!-- <form [formGroup]="ourForm" >
            <br>           
            <div class="books-inputs">
                <h1>Sell Clothing</h1>
                <div class="input">
                    <label for="clothingtype">Clothing Type</label>&nbsp;
                    <input type="text" id='clothingtype' formControlName="booktitle">
                    
                </div>
        
                <div class="input">
                    <label for="description">Description</label>&nbsp;
                    <textarea type="text" id='description' formControlName="description"></textarea>
                    
                </div>
        
                <div class="input">
                    <label for="edition">Edition</label>&nbsp;
                    <input type="number" id='edition' formControlName="edition">
                </div>
        
                <div class="input">
                    <label for="course">Course</label>&nbsp;
                    <input type="text" id='edition' formControlName="course">
                </div>
        
                <div class="input">
                    <label for="price">Price  $</label>&nbsp;
                    <input type="number" id='price' formControlName="price">
                </div>
            </div>
            <div class="general-inputs">
                <br>
                <h1>Tell us little more</h1>
                <div class="input">
                    <label for="book-title">Seller ID</label>&nbsp;
                    <input type="text" id='seller-id' formControlName="sellerid">
                </div>
        
                <div class="input">
                    <label for="category" >Item Category</label>&nbsp;
                    <input readonly type="text" id='category' value="Books" placeholder="clothing"
                    formControlName="category">
                </div>
        
                <div class="input">
                    <label for="picture">Picture</label>&nbsp;
                    <input type="file" id='picture' >
                </div>   
        
                <div class="input">
                    <label for="shipping">Shipping</label>&nbsp;
                    <input type="number" id='shipping' maxlength="1" formControlName="shipping">&nbsp; <h4>Enter 1 for Allowed, 2 for Not Allowed</h4>
                </div>   
            </div>
            
            <input type="submit" value="Submit"  (click)="submitData(ourForm.value)">-->
            <!-- [disabled] -->
        <!-- </form> -->
