.input{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.input label{
    font-size: 20px;
}

.input input, textarea{
    
    padding: 10px;
    background: #ececec;
    font-size: 18px;

    border-radius: 10px; 
    border-color:rgb(255, 255, 255);
    border-width:0px;
    border:none;

    /* no outline forms when data being inserted */
    outline:none;
}

input[type=submit] {
    padding:15px 15px; 
    background:rgb(212, 133, 133); 
    font-size: 18px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}