<mat-tab-group animationDuration="0ms">

    <mat-tab label="My Items" ><br>
        <button  mat-raised-button (click) ="router.navigate(['./additem']);" 
        style="background-color: rgb(179, 64, 64);">
            add item
        </button>
    </mat-tab>

    <mat-tab label="Sold">list of all the items that has been shipped, delivered, pending request</mat-tab>

</mat-tab-group>

<div class="myitems">
    <br>
    items waiting for buyers
    <br>
    -
    <br>
    -

    <br>
    -
    <br>
    -
</div>

<div class="space"></div>
