<div class="title">
    <h2>Summary of your Cart</h2>
</div>

<div class = "cart">
<div *ngFor="let Item of items">
	<!-- Create a 'display' for each category arranged as necessary -->
	<!-- ## NOTE: Pictures are not implemented yet, but please leave room in final design for them. ## -->
	<div *ngIf='Item.category === "books"'> 
	<div class="itemDisplay" *ngIf='Item.category === "books"'> 
		
		

		<div class="row">
			<div class="img">
			<img src={{Item.picture}}>
			</div>	
			<p>
				<strong>Title:</strong> {{Item.title}} <br>
				<strong>Price: </strong>${{Item.price}}<br>
				<strong>Seller ID:</strong> {{Item.sellerid}}<br>
				<strong>Shipping:</strong> {{Item.shipping}}
			<p>
		</div>
			
	</div>
	</div>
	
	<div *ngIf='Item.category === "sportsgear"'>
	<div class="itemDisplay" *ngIf='Item.category === "sportsgear"'>
		<div class="row">
			<div class="img">
			<img src={{Item.picture}}>
			</div>	
			<p>
				<strong>Title:</strong> {{Item.title}} <br>
				<strong>Price: </strong>${{Item.price}}<br>
				<strong>Seller ID:</strong> {{Item.sellerid}}<br>
				<strong>Shipping:</strong> {{Item.shipping}}
			<p>
		</div>
	</div>
	</div>
	

	<div *ngIf='Item.category === "electronics"'>

	<div class="itemDisplay" *ngIf='Item.category === "electronics"'>
		<div class="row">
			<div class="img">
			<img src={{Item.picture}}>
			</div>	
			<p>
				<strong>Title:</strong> {{Item.title}} <br>
				<strong>Price: </strong>${{Item.price}}<br>
				<strong>Seller ID:</strong> {{Item.sellerid}}<br>
				<strong>Shipping:</strong> {{Item.shipping}}
			<p>
		</div>
	</div>
	</div>
	

	<div *ngIf='Item.category === "furniture"'>

	<div class="itemDisplay" *ngIf='Item.category === "furniture"'>
		<div class="row">
			<div class="img">
			<img src={{Item.picture}}>
			</div>	
			<p>
				<strong>Title:</strong> {{Item.title}} <br>
				<strong>Price: </strong>${{Item.price}}<br>
				<strong>Seller ID:</strong> {{Item.sellerid}}<br>
				<strong>Shipping:</strong> {{Item.shipping}}
			<p>
		</div>
	</div>
	</div>
   
	<div *ngIf='Item.category === "clothing"'>
   
	<div class="itemDisplay" *ngIf='Item.category === "clothing"'>
		<div class="row">
			<div class="img">
			<img src={{Item.picture}}>
			</div>	
			<p>
				<strong>Title:</strong> {{Item.title}} <br>
				<strong>Price: </strong>${{Item.price}}<br>
				<strong>Seller ID:</strong> {{Item.sellerid}}<br>
				<strong>Shipping:</strong> {{Item.shipping}}
			<p>
		</div>
	</div>
	</div>
</div>
</div>

<!-- <a routerLink="/cart" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>Checkout
</a> -->
<br><br>

<div class = "total">
<h2>Your Total: ${{getTotal()}}</h2>
</div>
<br>

<div class = "checkout">
<button mat-stroked-button (click)="clearCart()" style="cursor: grab">Checkout</button>
</div>

