<!-- <form [formGroup]="ourForm" (submit)="onSubmit(ourForm.value)" >
    <br>            
    <div class="inputs">
        <h1>YOUR BOOK</h1>
        
        <div class="input">
            <label for="title">Title</label>&nbsp;
            <input type="text" id='title' formControlName="title">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>

        </div>

        <div class="input">
            <label for="edition">Edition</label>&nbsp;
            <input type="number" id='edition' formControlName="edition">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>

        </div>

        <div class="input">
            <label for="course">Course</label>&nbsp;
            <input type="text" id='course' formControlName="course">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
    </div>
    
    <div class="general-inputs">
        <br>
        <h1>GENERAL INPUT</h1>
        <div class="input">
            <label for="sellerid">Seller ID</label>&nbsp;
            <input type="text" id='sellerid' formControlName="sellerid">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
    
        <div class="input">
            <label for="description">Description</label>&nbsp;
            <textarea type="text" id='description' formControlName="description"></textarea>
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
        <div class="input">
            <label for="price">Price  $</label>&nbsp;
            <input type="number" id='price' formControlName="price">
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>
    
        <div class="input">
            <label for="picture">Picture</label>&nbsp;
            <input type="file" id='picture' >
            <div class = "text-danger" *ngIf="isSubmitted && formControl.title.errors?.required">This field is required</div>
        </div>   
    
        <div class="input">
            <label for="shipping">Shipping</label>&nbsp;
            <input type="text" id='shipping' formControlName="shipping">&nbsp;
        </div>   
    </div> 
      <input type="submit" value="Submit"  (click)="submitForm(ourForm.value)">
</form> -->